<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <br>
    <br>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p><h1>Choose your trigger</h1></p>
                    <form id="gmail-form" role="form" name="form" ng-controller="trigger2TwitterController" novalidate>

                        <div class="form-group">
                            <label>Title:</label> <br>
                            <label>Click me in order to active this trigger:
                                <input
                                        type="checkbox"
                                        ng-model="checkedtitle"

                                >
                            </label><br/>
                            <input type="title"  ng-disabled="!checkedtitle" class="form-control" id="title" placeholder="insert your title"
                                   ng-model="gmailinput.title"
                                   required="" name="utitle"
                                   maxlength="100"
                                   ng-trim="false"
                            >
                            <span>{{100 - gmailinput.title.length}} left </span>
                        </div>


                        <!--Subject e.mail -->
                        <div class="form-group">
                            <label>Description:</label>
                            <label>Click me in order to active the description trigger:
                                <input
                                        type="checkbox"
                                        ng-model="checkedSubject"

                                >
                            </label><br/>
                            <textarea class="form-control" rows="5" id="subjectReceive"  placeholder="insert the subject"
                                      ng-model="gmailinput.subjectReceive"  name="subjectReceive"  ng-disabled="!checkedSubject"
                                      maxlength="500" ng-trim="false"
                            ></textarea>
                            <span>{{500 - gmailinput.subjectReceive.length}} left </span>
                        </div>



                        <div>
                            <a  type="submit" class="btn btn-danger pull-left" href="#choseTriggerTwitter" >Cancel</a>
                            <a  href="#choseActionTwitter"  ng-disabled="!checkedtitle && !checkedSubject" type="submit"
                                class="btn btn-primary pull-right"  ng-click="trigger1Gcalendar(gmailinput)" >Next</a>
                        </div>
                        <label style="color: #cd0a0a" ng-if="!checkedtitle && !checkedSubject" class="animate-if" >
                            You have to ability Title or/and Subject in order to continue
                        </label>

                        <!--
                        href="#actionGcalendar"
                               http://localhost:8080/index.jsp#/SubGMail
                               <a  type="submit" class="btn btn-primary" href="#logged_in" >Home</a>
                               <a  type="submit" class="btn btn-primary"  href="#SubGMailAction" ng-click="triggerGmail(gmailinput)">Next</a>
                               -->

                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

</div>


<!--href="#SubGMailAction" -->


<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->
</html>


