<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <br>
    <br>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <p><h1>Choose your trigger</h1></p>
                    <form id="gmail-form" role="form" name="form" ng-controller="Trigger2GcalendarController" novalidate>

                        <div class="form-group">
                            <label>Title:</label> <br>
                            <label>Click me in order to active this trigger:
                                <input
                                    type="checkbox"
                                    ng-model="checkedtitle"

                                >
                            </label><br/>
                            <div  ng-if="checkedtitle" class="animate-if">
                            <input type="title"  ng-disabled="!checkedtitle" class="form-control" id="title" placeholder="insert your title"
                                   ng-model="trigger2GcalendarVar.title"
                                   required="" name="utitle"
                                   maxlength="100"
                                   ng-trim="false"
                            >
                            <span>{{100 - trigger2GcalendarVar.title.length}} left </span>
                                </div>
                        </div>


                        <!--Subject e.mail -->
                        <div class="form-group">
                            <label>Description:</label>
                            <label>Click me in order to active the description trigger:
                                <input
                                        type="checkbox"
                                        ng-model="checkedSubject"

                                >
                            </label><br/>
                            <div  ng-if="checkedSubject" class="animate-if">
                            <textarea class="form-control" rows="5" id="subjectReceive"  placeholder="insert the subject"
                                      ng-model="trigger2GcalendarVar.subjectReceive"  name="subjectReceive"  ng-disabled="!checkedSubject"
                                      maxlength="500" ng-trim="false"
                            ></textarea>
                            <span>{{500 - trigger2GcalendarVar.subjectReceive.length}} left </span>
                                </div>
                        </div>


                        <!-- place -->
                        <div class="form-group">
                            <label>place:</label> <br>
                            <label>Click me in order to active this trigger:
                                <input
                                        type="checkbox"
                                        ng-model="checkedplace"

                                >
                            </label><br/>
                            <div  ng-if="checkedplace" class="animate-if">
                            <input type="place"  ng-disabled="!checkedplace" class="form-control" id="place" placeholder="insert your place"
                                   ng-model="trigger2GcalendarVar.place"
                                   required="" name="uplace"
                                   maxlength="100"
                                   ng-trim="false"
                            >
                            <span>{{100 - trigger2GcalendarVar.place.length}} left </span>
                            <div ng-show="form.$submitted || form.uplace.$touched">
                                <span ng-show="form.uplace.$error.place"   style="color: #b81900">This is not a valid place</span>
                            </div>
                                </div>
                        </div>

                        <div>
                            <a  type="submit" class="btn btn-danger pull-left" href="#allTriggers" >Cancel</a>
                            <a    ng-disabled="!checkedtitle && !checkedSubject && !checkedplace" type="submit"
                                class="btn btn-primary pull-right btn_next3" ng-click="trigger2Gcalendar()" >Next</a>
                        </div>
                        <label style="color: #cd0a0a" ng-if="!checkedtitle && !checkedSubject && !checkedplace" class="animate-if" >
                            You have to ability Title or/and Subject or/and Place in order to continue
                        </label>

                 <!--
                 href="#actionGcalendar"
                        http://localhost:8080/index.jsp#/SubGMail
                        <a  type="submit" class="btn btn-primary" href="#logged_in" >Home</a>
                        <a  type="submit" class="btn btn-primary"  href="#SubGMailAction" ng-click="triggerGmail(trigger2GcalendarVar)">Next</a>
                        -->

                    </form>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

</div>


<!--href="#SubGMailAction" -->




<script>
    if(iftttLogin == false)
    {
        url = "#home";
        window.location.replace(url);
        count = 0;
        flagTriggerDone="0";
    }
    else
    {


        if (count == 2) {
            count++;
            url1back = "#Trigger2Gcalendar";
        }
        else {
            if (count < 2) {
                url = "#allTriggers";
                window.location.replace(url);
            }

        }
    }

</script>



</body>
<!--
Example code
<label>Click me to toggle: <input type="checkbox" ng-model="checked"></label><br/>
<button ng-model="button" ng-disabled="checked">Button</button>
-->
</html>


